In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import quandl

In [17]:
import quandl
quandl.ApiConfig.api_key = 'xzxjojPGB4EtrUEzGM7F'

data = quandl.get_table('WIKI/PRICES', ticker = ['AAPL', 'MSFT', 'WMT'], 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '2015-12-31', 'lte': '2016-12-31' }, 
                        paginate=True)
data.head()

     ticker       date  adj_close
None
0       WMT 2016-12-30  67.742045
1       WMT 2016-12-29  67.879254
2       WMT 2016-12-28  67.928257
3       WMT 2016-12-27  68.310482
4       WMT 2016-12-23  68.153672

In [12]:
# create a new dataframe with 'date' column as index
new = data.set_index('date')

# use pandas pivot function to sort adj_close by tickers
clean_data = new.pivot(columns='ticker')

# check the head of the output
clean_data.head()

            adj_close
ticker           MSFT        WMT
date
2015-12-31  52.829107  58.379766
2016-01-04  52.181598  58.532144
2016-01-05  52.419653  59.922592
2016-01-06  51.467434  60.522580
2016-01-07  49.677262  61.932075

In [ ]:
SP500_IAP = quandl.get('MULTPL/SP500_INFLADJ_MONTH', start_date='2005-06-01', end_date='2020-07-01')